
archives/
Library/
graphs/
nltk_data/
vars/
.ipython/
.jupyter/
.local/
.matplotlib/ 
.vscode/
.DS_Store
.ipynb_checkpoints/toy-notebook-checkpoint.ipynb
.ipynb_checkpoints/gensim-papers-checkpoint.ipynb
toy-notebook.ipynb
